{% extends 'base.html' %}
{% load  static %}
{% block content %}
 <section class="about">
        <div class="container">
            <ul class="row our-links">
                <li class="col-sm-4 apply-online clearfix equal-hight">

                    <div class="detail">
                        <h3> Ғылыми ақпараттың сенімділігі</h3>
                        <p>Портал тек ғылыми негізделген, сенімді дереккөздерден алынған мәліметтерді ұсынады. </p>
                        <a href="#" class="more"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="col-sm-4 prospects clearfix equal-hight">

                    <div class="detail">
                        <h3>Қарапайым әрі түсінікті тіл</h3>
                        <p>Ғылыми терминология мен күрделі тақырыптар жеңілдетіліп, көпшілікке түсінікті етіп жеткізіледі.</p>
                        <a href="#" class="more"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="col-sm-4 certification clearfix equal-hight">

                    <div class="detail">
                        <h3>Әртүрлі тақырыптарды қамту</h3>
                        <p>Портал ғылымның әртүрлі инновациялар, технологиялар және олардың күнделікті өмірдегі қолданылуы туралы ақпарат береді</p>
                        <a href="#" class="more"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <br>

    </section>




    <!-- ==============================================
    ** News & Events **
    =================================================== -->
    <section class="news-events padding-lg">
        <div class="container">
            <h2><span>Соңғы</span>ақпараттар</h2>
            <ul class="row cs-style-3">
                {% for post in post_list %}
                <li class="col-sm-4">
                    <div class="inner">
                        <figure>
                            {% if post.image %}
                            <img src="{{post.image.url}} " class="img-responsive">
                            {% else %}
                            <img src="{% static 'images/no_image.png' %} " class="img-responsive" >
                            {% endif %}
                            <figcaption>
                                <div class="cnt-block">
                                    <a href="{{post.get_absolute_url}}"><h3>{{post.title}}</h3></a>
                                    <div class="bottom-block clearfix">
                                        <div class="date">

                                        </div>
                                        <div class="comment">
{{post.text|truncatewords:10|safe}}
                                        </div>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </li>
                {% endfor %}

            </ul>

        </div>
    </section>


<section class="how-study padding-lg">
    <div class="container">
        <h2><span>Қазақ елінің</span> ұлы тұлғалары</h2>
        <ul class="row">
            {% for person in tulgalar %}
            <li class="col-sm-4">
                <div class="overly">
                    <div class="cnt-block">
                        <a href="{{ person.get_absolute_url }}"><h3>{{ person.name }}</h3></a>
                        <p>{{ person.text|truncatewords:20|safe }}</p>
                    </div>
                    <a href="{{ person.get_absolute_url }}" class="more"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
                <figure>
                    {% if person.image %}
                        <img src="{{ person.image.url }}" class="img-responsive" alt="{{ person.name }}">
                    {% else %}
                        <img src="{% static 'images/no_image_tulga.jpg' %}" class="img-responsive" alt="{{ person.name }}">
                    {% endif %}
                </figure>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>



<section class="testimonial testimonial2 padding-lg">
        <div class="container">
            <div class="wrapper">
                <h2>Нақыл сөздер</h2>
                <div class="bx-wrapper" style="max-width: 100%;">
    <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 176.5px;">
        <ul class="testimonial-slide" style="width: 3215%; position: relative; transition-duration: 1s; transform: translate3d(-1012px, 0px, 0px);">
            {% for soz in naqylsoz %}
                <li style="float: left; list-style: none; position: relative; width: 1012px;" class="bx-clone" aria-hidden="true">
                    {{soz.text|safe}}
                    <a href="{{soz.author.get_absolute_url}}"><span>{{soz.author.name}}</span></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="bx-controls"></div>
</div>
<div id="bx-pager">
    {% for soz in naqylsoz %}
        <a data-slide-index="{{forloop.counter0}}" href="" class="{% if forloop.first %}active{% endif %}">
            {% if soz.author.image_thumbnail %}<img src="{{soz.author.image_thumbnail.url}}" class="img-circle" alt="{{soz.author.name}}">{% else %}
            <img src="{% static 'images/no_image_soz.png' %}" class="img-circle" alt="{{soz.author.name}}">
            {% endif %}
        </a>
    {% endfor %}
</div>

            </div>
        </div>
    </section>



{% endblock %}

 {% block js %}


{%endblock%}