{% extends 'base.html' %}
{% block content %}
      <div class="container-fluid">


        <main class="tm-main">

            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-40 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Іздеу..." aria-label="Іздеу...">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">

                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>
                        <span class="position-absolute tm-new-badge">Жаңа</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Қазақ әндеріндегі кеңестік идеологиялық сарын</h2>
                    </a>
                    <p class="tm-pt-30">
                        Адамзат құбылмалы тарихында музыка эстетикалық, әсемдік қызметімен қатар, халықты билеу, халыққа әсер ету мақсатында идеологилық құрал ретінде пайдаланылды..
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Мақала</span>
                        <span class="tm-color-primary">27.11.2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 пікір</span>
                        <span>Арман Әбдіғалиев</span>
                    </div>
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Қазақ әндеріндегі кеңестік идеологиялық сарын</h2>
                    </a>
                    <p class="tm-pt-30">
                        Адамзат құбылмалы тарихында музыка эстетикалық, әсемдік қызметімен қатар, халықты билеу, халыққа әсер ету мақсатында идеологилық құрал ретінде пайдаланылды..
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Фото</span>
                        <span class="tm-color-primary">27.11.2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 пікір</span>
                        <span>Арман Әбдіғалиев</span>
                    </div>
                </article>
                 <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Қазақ әндеріндегі кеңестік идеологиялық сарын</h2>
                    </a>
                    <p class="tm-pt-30">
                        Адамзат құбылмалы тарихында музыка эстетикалық, әсемдік қызметімен қатар, халықты билеу, халыққа әсер ету мақсатында идеологилық құрал ретінде пайдаланылды..
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Видео</span>
                        <span class="tm-color-primary">27.11.2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 пікір</span>
                        <span>Арман Әбдіғалиев</span>
                    </div>
                </article>
                 <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Қазақ әндеріндегі кеңестік идеологиялық сарын</h2>
                    </a>
                    <p class="tm-pt-30">
                        Адамзат құбылмалы тарихында музыка эстетикалық, әсемдік қызметімен қатар, халықты билеу, халыққа әсер ету мақсатында идеологилық құрал ретінде пайдаланылды..
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Хабарландыру, Видео</span>
                        <span class="tm-color-primary">27.11.2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 пікір</span>
                        <span>Арман Әбдіғалиев</span>
                    </div>
                </article>
                 <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Қазақ әндеріндегі кеңестік идеологиялық сарын</h2>
                    </a>
                    <p class="tm-pt-30">
                        Адамзат құбылмалы тарихында музыка эстетикалық, әсемдік қызметімен қатар, халықты билеу, халыққа әсер ету мақсатында идеологилық құрал ретінде пайдаланылды..
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Мақала</span>
                        <span class="tm-color-primary">27.11.2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 пікір</span>
                        <span>Арман Әбдіғалиев</span>
                    </div>
                </article>
                 <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        </div>

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Қазақ әндеріндегі кеңестік идеологиялық сарын</h2>
                    </a>
                    <p class="tm-pt-30">
                        Адамзат құбылмалы тарихында музыка эстетикалық, әсемдік қызметімен қатар, халықты билеу, халыққа әсер ету мақсатында идеологилық құрал ретінде пайдаланылды..
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Мақала</span>
                        <span class="tm-color-primary">27.11.2020</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 пікір</span>
                        <span>Арман Әбдіғалиев</span>
                    </div>
                </article>



            </div>


                <div class="tm-paging-wrapper">

                    <nav class="tm-paging-nav d-inline-block">

                        <ul>
                        <a href="#" class="mb-4 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20"><</a>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-4 tm-btn tm-paging-link">1</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-4 tm-btn tm-paging-link">2</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-4 tm-btn tm-paging-link">3</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-4 tm-btn tm-paging-link">4</a>
                            </li>
                            <a href="#" class="mb-4 tm-btn tm-btn-primary tm-prev-next">></a>
                        </ul>

                    </nav>
                </div>

            <footer class="row tm-row">
                <hr class="col-12">

            </footer>
        </main>
    </div>
{% endblock %}