{% extends 'base.html' %}
{% load static %}
  {% block css %} <link href="{% static 'assets/iconmoon/css/iconmoon.css' %}" rel="stylesheet">{% endblock%}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}

<div class="inner-banner blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h1>{{ title }}</h1>
                        <p>Қазақ халқының даналығы ғасырлар бойы ұлы тұлғаларының нақыл сөздері арқылы ұрпақтан-ұрпаққа жетіп келеді.
                            <br>
                            Бұл сөздер тек қана терең мағыналы ой емес, сонымен қатар өмірлік бағдар, рухани тәрбие көзі болып табылады.</p>

                    </div>
                </div>
            </div>


        </div>
</div>


<section class="testimonial-outer padding-lg">
    <div class="container">
        <div class="row">
        <h2 class=""></h2> <!-- Заголовок списка -->

        <div class="search-block clearfix">
            <form method="get" action="{% url 'blog:naqylsoz_author' %}">
                <input name="Search" type="text" placeholder="Поиск" value="{{ search_query|default:'' }}">
                <button class="search" type="submit"><span class="icon-search-icon"></span></button>
            </form>

        </div>
<ul class="tags-list clearfix">
    {% for ct in authors %}
        <li class="{% if selected_author and ct.slug == selected_author.slug %}active{% endif %}">
            <a href="{% url 'blog:naqylsoz_author' ct.slug %}">{{ ct.name }} <span>({{ ct.post_count }})</span></a>
        </li>
    {% endfor %}
</ul>

            <br>
            </div>

        <div class="row">

        <ul class="row testimonials">

            {% for post in post_list %}

                <li class="col-xs-12 col-sm-4 grid-item">
                    <div class="quotblock">
                        {% if post.author.image_thumbnail %}
                        <img src="{{ post.author.image_thumbnail.url }}" class="img-responsive img-circle" alt="{{ post.author.name }}">
                        {% else %}
                        <img src="{% static 'images/no_image_soz.png' %}" class="img-responsive img-circle" alt="Фото жоқ">
                        {% endif %}
                        <span class="icon-quote-left-icon"></span>
                        <h3>{{ post.author.name }}</h3>
                        <p>{{ post.text|safe }}</p> <!-- Отобразите текст с ограничением по словам -->
                    </div>
                </li>
            {% empty %}
                <li class="col-xs-12"><p>Нет доступных высказываний.</p></li>
            {% endfor %}
        </ul>
</div>
        <!-- Pagination Section -->
        <div class="text-center">
            <ul class="pagination blue">
                {% if post_list.has_previous %}
        <li><a href="?page=1" aria-label="First">« </a></li>
        <li><a href="?page={{ posts.previous_page_number }}" aria-label="Previous"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
    {% endif %}

    {% for num in post_list.paginator.page_range %}
        {% if num == post_list.number %}
            <li class="active"><a href="#">{{ num }}</a></li>  {# Current page #}
        {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    {% if post_list.has_next %}
        <li><a href="?page={{ posts.next_page_number }}" aria-label="Next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li><a href="?page={{ posts.paginator.num_pages }}" aria-label="Last"> »</a></li>
    {% endif %}
            </ul>
        </div>
    </div>
</section>


{% endblock %}
{%block js%}
<script src="{% static 'assets/masonry/js/masonry.min.js' %}"></script>
{% endblock%}