<!doctype html>
{%load static  %}
<html lang="kz">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>{% block title %}Зиялы ғылыми танымдық порталы{% endblock%}</title>

    <!-- CSS -->
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/magnific-popup/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/iconmoon/css/iconmoon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/owl-carousel/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->

</head>

<body>

    <!-- ==============================================
    ** Preloader **
    =================================================== -->
    <div id="loading">
        <div class="element">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>

    <!-- ==============================================
    ** Header **
    =================================================== -->
    <header>

        <!-- Start Header Middle -->
        <div class="container header-middle">
            <div class="row">
                <div class="col-md-1"><a href="{% url 'blog:home' %}"><img src="{% static 'images/logo.png' %}" width="80px" class="p0 m0" alt=""></a></div>
                <div class="col-md-11"><h3 class="logo-header">Зиялы ғылыми танымдық порталы</h3></div>


            </div>
        </div>
        <!-- End Header Middle -->
        <!-- Start Navigation -->
        {% include 'inc/nav.html' %}
        <!-- End Navigation -->
    </header>

    <!-- ==============================================
    ** Banner Carousel **
    =================================================== -->
    <div class="banner-outer">
        <div class="banner-slider">
            {% for banner in banners%}
            <div class="slide3" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{banner.image.url}}) no-repeat center top / cover;">

                <div class="container">
                    <div class="content animated fadeInLeft">
                        {% if banner.title_show %}
                        <h1 class="animated fadeInLeft">{{banner.title}}</h1>
                        {% endif %}
                        {% if banner.description_show and banner.description %}
                        <p class="animated fadeInLeft">{{banner.description}}</p>
                        {% endif %}
                        {% if banner.slug %}
                        <a href="{{banner.slug}}" class="btn animated fadeInLeft">{{banner.title_slug}} <span class="icon-more-icon"></span></a>
                        {%endif%}
                    </div>
                </div>
            </div>

            {% endfor%}
        </div>
    </div>

    <!-- ==============================================
    ** About **
    =================================================== -->
    {% block content %}

    {%endblock%}
    <!-- ==============================================
    ** Footer **
    =================================================== -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="container">


        <!-- Start Footer Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="connect-us">
                            <h3>Connect with Us</h3>
                            <ul class="follow-us clearfix">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>

    <!-- Scroll to top -->
    <a href="#" class="scroll-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/matchHeight/js/matchHeight-min.js' %}"></script>
    <script src="{% static 'assets/bxslider/js/bxslider.min.js' %}"></script>
    <script src="{% static 'assets/waypoints/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/counterup/js/counterup.min.js' %}"></script>
    <script src="{% static 'assets/magnific-popup/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"  ></script>
</body>

</html>
