<!DOCTYPE html>
{% load static blog%}
<html lang="kz">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{%block title %}Зиялы ғылыми-танымдық порталы {%endblock %}</title>
    <script src="https://kit.fontawesome.com/3945561c50.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">

</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mx-4 tm-site-logo">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" > ЗИЯЛЫ
                        </div>
                   <span>  ғылыми-танымдық порталы   </span>
            </div>
            {% show_category as menu %}
            <nav class="tm-nav" id="tm-nav">
                <ul>{% for m in menu %}
                    <li class="tm-nav-item"><a href="{{ m.slug }}/" class="tm-nav-link">
                        <i class="{{ m.icon}}"></i>
                        {{ m.name }}
                    </a></li>
                    {% endfor %}
                    <li class="tm-nav-item"><a href="post.html" class="tm-nav-link">
                        <i class="fas fa-video-slash"></i>
                        Видео
                    </a></li>
                    <li class="tm-nav-item"><a href="about.html" class="tm-nav-link">
                        <i class="fas fa-camera-retro"></i>
                        Фото
                    </a></li>
                    <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Хабарландыру
                    </a></li>
                </ul>
            </nav>


        </div>
    </header>
    {% block content %} {% endblock %}

    {% include '_inc/js.html' %}

</body>
</html>